:root {
    --darker-blue:#072249;
    --dark-blue:#0062AF;
    --light-blue:#F7FBFF;
    --text-grey: #595959;
    --light-grey: #999999;
}   

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", Helvetica, sans-serif;
}

.classic-btn{
    background-color: var(--dark-blue);
    color: white;
    
    width: 192px;
    height: 45px;
    border-radius: 25px;
    border: none;

    font-size: 1.1rem;
    font-weight: 200;
}

/* Header */
#header-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(
      180deg,
      hsla(210, 100%, 14%,1),
      hsla(210, 100%, 14%,0.8)
      ),
      url(../images/header/hero.png);

  background-size: cover;
  background-position: center;
  
  height: 100vh;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  text-align: center;
}

#header h1{
  font-weight: bold;
  font-size: 4rem;
  font-weight: 600;
}

#header p{
  padding: 2rem;

  font-size: 1.4rem;
  font-weight: 200;
}

/* Navigation */
#navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1rem 3rem;

  text-decoration: none;
}

#navigation a{
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
  color: white;
}

#navigation a:hover{
  text-decoration: underline;
}

#language-selector {
  display: flex;
}

#language-selector select{
  background: none;
  border: none;
  color: white;
  font-size: 0;
}

/* Custom Section*/
.custom-section{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.central-item {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.custom-section header{
  color: var(--dark-blue);

  font-weight:bold;
  font-size: 22px;
}

.custom-section h1{
  font-size: 42px;

  margin: 1.5rem 0;
}

.custom-section p{
  padding: 1rem 0;

  color: var(--text-grey);
  font-weight: 200;
  font-size: 22px;
  line-height: 1.5;
}

.carousel {
  display: inline-block;
  
  padding: 10px 0px;
  margin: 0;

  animation: 35s slide infinite linear;
}