:root {
  --darker-blue: #072249;
  --dark-blue: #0062AF;
  --light-blue: #F7FBFF;
  --text-grey: #595959;
  --light-grey: #999999;
  --shadow-color: #DEEBF7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", Helvetica, sans-serif;
}

.classic-btn {
  background-color: var(--dark-blue);
  color: white;

  width: 192px;
  height: 45px;
  border-radius: 25px;
  border: none;

  font-size: 1.1rem;
  font-weight: 200;
}

/* Header */
#header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: linear-gradient(180deg,
      hsla(210, 100%, 14%, 1),
      hsla(210, 100%, 14%, 0.8)),
    url(../images/header/hero.png);

  background-size: cover;
  background-position: center;

  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  text-align: center;
}

#header h1 {
  font-weight: bold;
  font-size: 4rem;
  font-weight: 600;
}

#header p {
  padding: 2rem;

  font-size: 1.4rem;
  font-weight: 200;
}

/* Navigation */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;

  text-decoration: none;
}

#navigation a {
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
  color: white;
}

#navigation a:hover {
  text-decoration: underline;
}

#language-selector {
  display: flex;
}

#language-selector select {
  background: none;
  border: none;
  color: white;
  font-size: 0;
}

/* Custom Section*/
.custom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.central-item {
  max-width: 960px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.central-item-large {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.custom-section header {
  color: var(--dark-blue);

  font-weight: bold;
  font-size: 22px;
}

.custom-section h1 {
  font-size: 42px;

  margin: 1rem 0;
}

.custom-section p {
  padding: 1rem 0;

  color: var(--text-grey);
  font-weight: 200;
  font-size: 22px;
  line-height: 1.5;
}

/* Carousel */

.carousel-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 1080px;
}

.carousel-wrapper:before,
.carousel-wrapper::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;

  content: "";
  z-index: 2;
}

.carousel-wrapper:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.carousel-wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@keyframes slide {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

.carousel {
  display: inline-block;

  padding: 10px 0px;
  margin: 0;

  animation: 35s slide infinite linear;
}

/* Footer */
#footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 100px 120px;

  background-color: var(--darker-blue);

  color: white;
  font-weight: 200;
  font-size: 16px;
}

#footer-section * {
  font-size: 16px;
  line-height: 1.5;
}

#footer-section > *:not(:first-child) {
  flex-grow: 1;

  margin-right: 20px;
}

#footer-section > * {
  margin-bottom: 20px;
}

#footer-logo {
  width: 100%;
}

#footer-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-site-map {
  display: flex;
  flex-direction: column;
}

#footer-site-map a {
  margin-top: 1rem;

  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 246px;
}

.footer-address p {
  margin-top: 10px;
}

.footer-address-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  justify-self: flex-end;
  margin-top: 30px;
}

.footer-address-contact img {
  filter: invert(100%);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 10px;
}

.contact-info img {
  margin-right: 10px;
}

/* Lets Talk */
#lets-talk-section {
  position: relative;
  align-items: center;
  text-align: center;

  background: linear-gradient(180deg, rgba(7, 34, 73, 0.7), rgba(7, 34, 73, 1));

  color: white;

  padding-top: 350px;
  margin-top: -150px;
}

#lets-talk-section::before {
  position: absolute;

  top: 0;

  width: 100%;
  height: 300px;

  content: "";
  z-index: 2;
  left: 0;
  background-color: white;

  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
}

#lets-talk-section p {
  color: white;

  margin: 1.5rem 0;
}

/* Technology */
#technology-section {
  display: flex;
  align-items: center;

  text-align: center;

  position: relative;
  z-index: 3;
}

#technology-section .carousel img {
  margin: 0px 20px;
  padding: 20px;

  height: 80px;

  border: 1px solid lightgrey;
  border-radius: 25px;

  background: linear-gradient(180deg, rgba(153, 153, 153, 0.08), white);
}

/* Card */
.card {
  padding: 40px;

  border-radius: 5%;

  background-color: white;
  box-shadow: 15px 15px 15px var(--shadow-color);

  text-align: left;
}