/* General */
:root {
    --darker-blue:#072249;
    --dark-blue:#0062AF;
    --light-blue:#F7FBFF;
    --text-grey: #595959;
}   

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: "Inter", Helvetica, sans-serif;
}

.classic-btn{
    background-color: var(--dark-blue);
    color: white;
    
    width: 192px;
    height: 45px;
    border-radius: 25px;
    border: none;

    font-size: 1.1rem;
    font-weight: 200;
}

/* Header */
#header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(
        180deg,
        hsla(210, 100%, 14%,1),
        hsla(210, 100%, 14%,0.8)
        ),
        url(images/hero.png);

    background-size: cover;
    background-position: center;
    
    height: 100vh;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    text-align: center;
}

#header h1{
    font-weight: bold;
    font-size: 4rem;
    font-weight: 600;
}

#header p{
    padding: 2rem;

    font-size: 1.4rem;
    font-weight: 200;
}

/* Navigation */
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 3rem;

    text-decoration: none;
}

#navigation a{
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
    color: white;
}

#navigation a:hover{
    text-decoration: underline;
}

#language-selector {
    display: flex;
}

#language-selector select{
    background: none;
    border: none;
    color: white;
    font-size: 0;
}

/* Custom Section*/
.custom-section{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.central-item {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

.custom-section header{
    color: var(--dark-blue);

    font-weight:bold;
    font-size: 22px;
}

.custom-section h1{
    font-size: 42px;

    margin: 1.5rem 0;
}

.custom-section p{
    padding: 1rem 0;

    color: var(--text-grey);
    font-weight: 200;
    font-size: 22px;
    line-height: 1.5;
}

/* About Us */
#about-section{
    display: flex;
    justify-content: space-around;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

#about-section button{
    margin-top: 2rem;
}

/* Service */
#services-section{
    align-items: center;
    background-color: var(--light-blue);

    text-align: center;
}

#services-section button{
    width: 161px;
    align-self: center;

    margin-top: 1.5rem;
}

#service-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    padding: 1.5rem 0;
    margin: 0;
}

.services-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    margin: 0;
    padding: 0 3rem;
    height: 304px;
    width: 454px;
    
    border-radius: 5%;
    border: 1px solid transparent;

    background-color:white;
    box-shadow: 15px 15px 15px lightblue;

    text-align: left;
}

.services-box:hover{
    border: 1px  solid var(--dark-blue);
}

.services-box h1{
    color: var(--dark-blue);
    font-size: 25px;
}

.services-box p{
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 300;
    
    color: #595959;
}

.services-box a{
    font-size: 16px;
    color: var(--dark-blue);
    text-decoration: none;
}

/* Technology */
#technology-section{
    align-items: center;

    text-align: center;
}

@keyframes slide{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 1080px;
}

#logos:before,
#logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;

    content: "";
    z-index: 2;
}

#logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

#logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.carousel {
    display: inline-block;
    
    padding: 10px 0px;
    margin: 0;

    animation: 35s slide infinite linear;
}

.carousel img{
    margin: 0px 20px ;
    padding: 20px;

    height: 80px;

    border: 1px solid lightgrey;
    border-radius: 25px;

    background: linear-gradient(180deg, rgba(153,153,153,0.08), white);
}

/* Business Model */
#business-model-section{
    background-color: var(--light-blue);
}

.model-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.model-box{
    width: 289px;
    height: 237px;;

    padding: 1rem;

    background-color: white;

    border-radius: 10px;
    isolation: isolate;
}

.model-box .image-background{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 65px;
    height: 65px;
    
    border-radius: 50%;
    background-color: var(--dark-blue);
}

.model-box img{
    border-radius: 50%;
    filter: invert(100%);
}

.model-box p{
    font-size: 18px;
    font-weight: 300;
}

/* Case Studies */
#case-studies-section{
    align-items: center;
    text-align: center;
}

/* Lets Talk */
#lets-talk-section{
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, rgba(7,34,73,0.7), rgba(7,34,73,1));

    color: white;
}

#lets-talk-section p{
    color: white;

    margin: 1.5rem 0;
}

/* Testimonials */
#testimonials-section{
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
}

#testimonials-section h1{
    text-align: center;
}

/* Footer */
#footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 100px 120px;

    background-color: var(--darker-blue);

    color: white;
    font-weight: 200;
    font-size: 16px;
}

#footer-section *{
    font-size: 16px;
    line-height: 1.5;
}

#footer-section > *{
    margin-bottom: 20px;
}

#footer-logo{
    width: 100%;
}

#footer-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer-site-map{
    display: flex;
    flex-direction: column;
}

#footer-site-map a{
    margin-top: 1rem;

    color: white;
    text-decoration: none;
    font-size: 14px;
}

#footer-address-wrapper{
    display: flex;
    justify-content: space-around;

    min-width: 50%;
}

.footer-address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 246px;
}

.footer-address p{
    margin-top: 10px;
}

.footer-address-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    justify-self: flex-end;
    margin-top:30px;
}

.footer-address-contact img{
    filter: invert(100%);
}

.contact-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10px;
}

.contact-info img{
    margin-right: 10px;
}