/* GENERAL */
:root {
    --dark-blue:#0062AF;
    --light-blue:#F7FBFF;
}   

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: "Inter", Helvetica, sans-serif;
}

.classic-btn{
    background-color: var(--dark-blue);
    color: white;
    
    width: 192px;
    height: 45px;
    border-radius: 25px;
    border: none;

    font-size: 1.1rem;
    font-weight: 200;
}

.break{
    flex-basis: 100%;
    height: 0;
}

/* HEADER */
#header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(
        180deg,
        hsla(210, 100%, 14%,1),
        hsla(210, 100%, 14%,0.8)
        ),
        url(images/hero.png);

    background-size: cover;
    background-position: center;
    
    height: 100vh;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    text-align: center;
}

#header h1{
    font-weight: bold;
    font-size: 4rem;
    font-weight: 600;
}

#header p{
    padding: 2rem;

    font-size: 1.4rem;
    font-weight: 200;
}

/* NAVIGATION BAR */
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem 3rem;

    text-decoration: none;
}

#navigation a{
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
    color: white;
}

#navigation a:hover{
    text-decoration: underline;
}

#language-selector {
    display: flex;
}

#language-selector select{
    background: none;
    border: none;
    color: white;
    font-size: 0;
}

/* GENERAL SECTIONS */
.custom-section{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    padding-top: 2rem;
}

.custom-section *{
    margin: 0.5rem;
}

.custom-section header{
    color: var(--dark-blue);

    font-weight:bold;
}

.custom-section h1{
    font-size: 1.9rem;
}

.custom-section p{
    font-weight: 200;
}

/* ABOUT US */
#about-section{
    display: flex;
    justify-content: space-around;

    margin-top: 3rem;
    margin-bottom: 3rem;
}

#about-section button{
    margin-top: 2rem;
}

/* SERVICES */
#services-section{
    align-items: center;
    background-color: var(--light-blue);

    text-align: center;
}

#services-section button{
    width: 161px;
}

#service-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 2rem;
}

.services-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 0.5rem 2rem;
    height: 13rem;
    width: 18rem;
    
    border-radius: 5%;
    border: 1px solid transparent;

    background-color:white;
    box-shadow: 10px 10px 10px lightgrey;

    text-align: left;
}

.services-box:hover{
    border: 1px  solid var(--dark-blue);
}

.services-box h1{
    color: var(--dark-blue);
    font-size: 1.2rem;
}

.services-box p{
    margin: 0;
    padding: 0;

    font-size: 0.9rem;
    
    color: #595959;
}

.services-box a{
    font-size: 0.8rem;
    color: var(--dark-blue);
    text-decoration: none;
}

/* Technology */
#technology-section{
    align-items: center;

    text-align: center;
}

@keyframes slide{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 1080px;
}

#logos:before,
#logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;

    content: "";
    z-index: 2;
}

#logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
}

#logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.carousel {
    display: inline-block;
    
    padding: 10px 0px;
    margin: 0;

    animation: 35s slide infinite linear;
}

.carousel img{
    margin: 0px 20px ;
}

